{% load static %}

<header class="header">
      <div class="alinhamentoLogo">
            <a href="{% url 'index' %}" id="logo">
                  <img src="{% static 'img/y-y-hakusho-seeklogo.com.svg' %}" alt="Logo Yu Yu Hakusho"></a>
            <p>Yu Yu Hakusho</p>
      </div>

      <nav>
            <ul>
                  <li><a href="{% url 'index' %}">Inicio</a></li>
                  <li><a href="{% url 'herois' %}">Heróis</a></li>
                  <li><a href="#">Vilões</a></li>
                  <li><a href="#">Contato</a></li>
            </ul>
            <div id="buscas">
                  <form action="{% url 'buscar' %}">
                        <input type="text" id="searchInput" placeholder="Digite sua busca..." name="buscar">
                        <button type="submit">Buscar</button>
                  </form>
            </div>
      </nav>

</header>