{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

  <div>
    <header class="header">
      <div class="alinhamentoLogo">
        <a href="{% url 'index' %}" id="logo">
          <img src="{% static 'img/y-y-hakusho-seeklogo.com.svg' %}" alt="Logo Yu Yu Hakusho"></a>
        <p>Yu Yu Hakusho</p>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="#">Vilões</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">

      <!-- <nav class="sidenav">
        <ul>
          <li><a href="#"><img src="{% static 'img/yusuke.jpg' %}" width="400" height="400" alt="Yusuke Urameshi"
                class="iconesPersonagens"></a></li>

          <li><a href="#"><img src="{% static 'img/kuwabara.jpg' %}" width="400" height="400" alt="Kazuma Kuwabara"
                class="iconesPersonagens"></a></li>

          <li><a href="#"><img src="{% static 'img/kurama.jpg' %}" width="400" height="400" alt="Kurama Youko"
                class="iconesPersonagens"></a></li>

          <li><a href="#"><img src="{% static 'img/hiei.jpg' %}" width="400" height="400" alt="Hiei" class="iconesPersonagens"></a>
          </li>

          <li><a href="#"><img src="{% static 'img/botan.jpg' %}" width="400" height="400" alt="Botan" class="iconesPersonagens"></a>
          </li>

          <li><a href="#"><img src="{% static 'img/keiko.jpg' %}" width="400" height="400" alt="Keiko Yukimura"
                class="iconesPersonagens"></a></li>
        </ul>
      </nav> -->

      <main class="conteudo">
        <div class="titulo">
          <h1>Os Heróis</h1>
          <span>Nem tanto assim...</span>
        </div>

        <p class="colunaExpansiva">O anime "Yu Yu Hakusho" tem vários personagens cativantes, como nossos heróis que embarcam em aventuras emocionantes e enfrentam inúmeros desafios sobrenaturais:</p>

        {% if fotos %}
        {% for foto in fotos %}
        
        <div>
          <a href="{% url 'imagem' foto.id %}"><img src="{% static 'img/herois/' %}{{ foto.foto }}" alt="Yusuke Urameshi" class="img2"></a>
          <span>{{ foto.nome}} - {{ foto.codinome }}</span>
        </div>

          {% endfor %}
          {% else %}
          {% endif %}

          <!--
          
          </div>
          <div>
          <img src="{% static 'img/herois/kazuma_kuwabara.png' %}" alt="Kazuma Kuwabara" class="img2">
          <span>Kazuma Kuwabara - O Rival Leal</span>
            
          </div>
          <div>
          <img src="{% static 'img/herois/kurama.png' %}" alt="Kurama" class="img2">
          <span>Kurama - O Lendário Ladrão</span>
            
          </div>
          <div>
          <img src="{% static 'img/herois/hiei.png' %}" alt="Hiei" class="img2">
          <span>Hiei - O Lobo Solitário</span>
            
          </div>
          <div>
          <img src="{% static 'img/herois/genkai.png' %}" alt="Genkai" class="img2">
          <span>Genkai - A Mestra</span>
            
          </div>
          <div>
          <img src="{% static 'img/herois/jorge_saotome.png' %}" alt="Jorge Saotome" class="img2">
          <span>Jorge Saotome - O Assistente Devotado</span>
            
          </div>
          <div>
            <img src="{% static 'img/herois/yukina.png' %}" alt="Yukina" class="img2">
            <span>Yukina - A Irmã Desaparecida</span>

          </div>
          <div>
          <img src="{% static 'img/herois/hinageshi.png' %}" alt="Hinageshi" class="img2">
          <span>Hinageshi - A Mensageira</span>
            
          </div>
          <div>
          <img src="{% static 'img/herois/shizuru_kuwabara.png' %}" alt="Shizuru Kuwabara" class="img2">
          <span>Shizuru Kuwabara - A Irmã Protetora</span>
            
          </div>
          <div>
          <img src="{% static 'img/herois/pu.png' %}" alt="Pu" class="img2">
          <span>Pu - A Criatura Misteriosa</span>
            
          </div> -->

        

        

      </main>
      <!-- <aside class="anuncio">
        <div class="anuncioItem">
          <a href="{% url 'herois' %}">
          <img src="{% static 'img/Herois.png' %}" alt="">
        </a>
        </div>

        <div class="anuncioItem anuncio2">
          <a href="viloes.html">
          <img src="{% static 'img/Viloes.png' %}" alt="">
        </a>
        </div>
      </aside> -->

    </div>

  {% endblock %}