{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'img/y-y-hakusho-seeklogo.com.svg' %}" type="image/x-icon">

  <title>Yu Yu Hakusho</title>
</head>

<body>

  <div>
    <header class="header">
      <div class="alinhamentoLogo">
        <a href="{% url 'index' %}" id="logo">
          <img src="{% static 'img/y-y-hakusho-seeklogo.com.svg' %}" alt="Logo Yu Yu Hakusho"></a>
        <p>Yu Yu Hakusho</p>
      </div>
      <nav>
        <ul>
          <li><a href="#">Sobre</a></li>
          <li><a href="{% url 'personagem' %}">Personagens</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">

      <nav class="sidenav">
        <ul>
          <li><a href="#"><img src="{% static 'img/yusuke.jpg' %}" width="400" height="400" alt="Yusuke Urameshi"
                class="iconesPersonagens"></a></li>

          <li><a href="#"><img src="{% static 'img/kuwabara.jpg' %}" width="400" height="400" alt="Kazuma Kuwabara"
                class="iconesPersonagens"></a></li>

          <li><a href="#"><img src="{% static 'img/kurama.jpg' %}" width="400" height="400" alt="Kurama Youko"
                class="iconesPersonagens"></a></li>

          <li><a href="#"><img src="{% static 'img/hiei.jpg' %}" width="400" height="400" alt="Hiei" class="iconesPersonagens"></a>
          </li>

          <li><a href="#"><img src="{% static 'img/botan.jpg' %}" width="400" height="400" alt="Botan" class="iconesPersonagens"></a>
          </li>

          <li><a href="#"><img src="{% static 'img/keiko.jpg' %}" width="400" height="400" alt="Keiko Yukimura"
                class="iconesPersonagens"></a></li>
        </ul>
      </nav>

      <main class="conteudo">
        <div class="titulo">
          <h1>Yusuke Urameshi</h1>
        </div>
        <img src="{% static 'img/herois/yusuke_uramesh.png' %}" alt="Elenco Yu Yu Hakusho" class="">

        <p class="colunaExpansiva">Yusuke Urameshi é inicialmente apresentado como um delinquente juvenil de 14 anos,
          conhecido por seu comportamento rebelde, envolvimento em brigas de rua e baixo desempenho escolar. Apesar de
          sua fachada durona, ele tem um bom coração e um forte senso de justiça.</p>


        <p class="colunaExpansiva">O inicio da jornada de Urameshi começa com sua morte inesperada. Ele sacrifica sua
          vida para salvar uma criança de ser atropelada por um carro. Sua morte pega até o Mundo Espiritual de
          surpresa, pois ninguém esperava que ele realizasse um ato tão altruísta. Por causa disso, Yusuke recebe uma
          oportunidade de retornar à vida após completar uma série de tarefas sobrenaturais, provando que ele merece uma
          segunda chance.</p>

        <div>
          <h3>Detetive Espiritual</h3>
          <p> Após ser ressuscitado, Yusuke é designado como Detetive Espiritual, um título que lhe concede a responsabilidade de investigar atividades paranormais e enfrentar demônios que ameaçam o Mundo Humano. Ele recebe diversas missões do Mundo Espiritual, orientado por Botan, a guia espiritual, e Koenma, o príncipe do Mundo Espiritual.</p>
        </div>
        <div>
          <h3> Habilidades e Poderes</h3>
          <p> Yusuke desenvolve várias habilidades espirituais ao longo da série. Sua técnica mais icônica é o "Rei-Gan" (Spirit Gun), onde ele concentra sua energia espiritual em seu dedo e dispara como uma arma de fogo. Ele também aprende a usar outras técnicas poderosas, como o "Shotgun Espiritual" e a "Onda de Espírito."</p>
        </div>
        <p class="colunaExpansiva">Ao longo de suas missões, Yusuke forma fortes laços com outros personagens, incluindo Kazuma Kuwabara, seu rival que se torna um aliado próximo; Kurama, um demônio raposa reencarnado; e Hiei, um poderoso demônio de fogo. Juntos, eles enfrentam diversos inimigos poderosos em arcos como o Torneio das Trevas e a Saga dos Sensui.</p>
        <p class="colunaExpansiva">Yusuke evolui significativamente ao longo da série, passando de um delinquente para um herói responsável, disposto a sacrificar-se pelos outros. Seu crescimento é impulsionado por suas experiências e relacionamentos, especialmente com Keiko Yukimura, sua amiga de infância e interesse amoroso, e Genkai, sua mestre rigorosa.</p>


      </main>
      <aside class="anuncio">
        <div class="anuncioItem">
          <a href="{% url 'herois' %}">
            <img src="{% static 'img/Herois.png' %}" alt="">
          </a>
        </div>

        <div class="anuncioItem anuncio2">
          <a href="viloes.html">
            <img src="{% static 'img/Viloes.png' %}" alt="">
          </a>
        </div>
      </aside>

    </div>

    <footer>
      <p>Desenvolvido por <a href="https://www.linkedin.com/in/renanfumis/">Renan Fumis</a></p>
    </footer>

  </div>

</body>

</html>