{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}



    <div class="container">

      <nav class="sidenav">
        <ul>
          <li><img src="{% static 'img/yusuke.jpg' %}" width="400" height="400" alt="Yusuke Urameshi"
                class="iconesPersonagens"></li></li>

          <li><img src="{% static 'img/kuwabara.jpg' %}" width="400" height="400" alt="Kazuma Kuwabara"
                class="iconesPersonagens"></li></li>

          <li><img src="{% static 'img/kurama.jpg' %}" width="400" height="400" alt="Kurama Youko"
                class="iconesPersonagens"></li></li>

          <li><img src="{% static 'img/hiei.jpg' %}" width="400" height="400" alt="Hiei" class="iconesPersonagens"></li>
          </li>

          <li><img src="{% static 'img/botan.jpg' %}" width="400" height="400" alt="Botan" class="iconesPersonagens"></li>
          </li>

          <li><img src="{% static 'img/keiko.jpg' %}" width="400" height="400" alt="Keiko Yukimura"
                class="iconesPersonagens"></li></li>
        </ul>
      </nav>

      <main class="conteudo">
        <div class="titulo">
          <h1>{{foto.nome}}</h1>
        </div>
        {% if foto.foto == "" or foto.foto == null %}
        <img src="{% static 'img/herois/not_found.png' %}" alt="Não Encontrado" class="img2">
      {% else %}
        <img src="{{ foto.foto.url }}" alt="Elenco Yu Yu Hakusho" class="">
      {% endif %}
        <p class="colunaExpansiva">{{ foto.introducao_1 }}</p>


        <p class="colunaExpansiva"> {{ foto.introducao_2}} </p>

        <div>
          <h3>{{ foto.profissao }}</h3>
          <p> {{ foto.text_profissao }} </p>
        </div>
        <div>
          <h3>{{ foto.habilidades }}</h3>
          <p>{{ foto.text_habilidades }}</p>
        </div>
        <p class="colunaExpansiva">{{ foto.text_final_1 }}</p>
        <p class="colunaExpansiva">{{ foto.text_final_2 }}</p>


      </main>
      <!-- Vou colocar imagens de cenas do personagem -->
      
      <!-- <aside class="anuncio">
        <div class="anuncioItem">
          <a href="{% url 'herois' %}">
            <img src="{% static 'img/Herois.png' %}" alt="">
          </li>
        </div>

        <div class="anuncioItem anuncio2">
          <a href="viloes.html">
            <img src="{% static 'img/Viloes.png' %}" alt="">
          </a>
        </div>
      </aside> -->

    </div>

  {% endblock %}