{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

  <div>
    <header class="header">
      <div class="alinhamentoLogo">
        <a href="{% url 'index' %}" id="logo">
          <img src="{% static 'img/y-y-hakusho-seeklogo.com.svg' %}" alt="Logo Yu Yu Hakusho"></a>
        <p>Yu Yu Hakusho</p>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'herois' %}">Personagens</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">

      <nav class="sidenav">
        <ul>
          <li><a href="#"><img src="{% static 'img/yusuke.jpg' %}" width="400" height="400" alt="Yusuke Urameshi"
                class="iconesPersonagens"></a></li>

          <li><a href="#"><img src="{% static 'img/kuwabara.jpg' %}" width="400" height="400" alt="Kazuma Kuwabara"
                class="iconesPersonagens"></a></li>

          <li><a href="#"><img src="{% static 'img/kurama.jpg' %}" width="400" height="400" alt="Kurama Youko"
                class="iconesPersonagens"></a></li>

          <li><a href="#"><img src="{% static 'img/hiei.jpg' %}" width="400" height="400" alt="Hiei" class="iconesPersonagens"></a>
          </li>

          <li><a href="#"><img src="{% static 'img/botan.jpg' %}" width="400" height="400" alt="Botan" class="iconesPersonagens"></a>
          </li>

          <li><a href="#"><img src="{% static 'img/keiko.jpg' %}" width="400" height="400" alt="Keiko Yukimura"
                class="iconesPersonagens"></a></li>
        </ul>
      </nav>

      <main class="conteudo">
        <div class="titulo">
          <h1>{{foto.nome}}</h1>
        </div>
        <img src="{{ foto.foto.url }}" alt="Elenco Yu Yu Hakusho" class="">

        <p class="colunaExpansiva">{{ foto.introducao_1 }}</p>


        <p class="colunaExpansiva"> {{ foto.introducao_2}} </p>

        <div>
          <h3>{{ foto.profissao }}</h3>
          <p> {{ foto.text_profissao }} </p>
        </div>
        <div>
          <h3> Habilidades e Poderes</h3>
          <p>{{ foto.text_habilidades }}</p>
        </div>
        <p class="colunaExpansiva">{{ foto.text_final_1 }}</p>
        <p class="colunaExpansiva">{{ foto.text_final_2 }}</p>


      </main>
      <!-- <aside class="anuncio">
        <div class="anuncioItem">
          <a href="{% url 'herois' %}">
            <img src="{% static 'img/Herois.png' %}" alt="">
          </a>
        </div>

        <div class="anuncioItem anuncio2">
          <a href="viloes.html">
            <img src="{% static 'img/Viloes.png' %}" alt="">
          </a>
        </div>
      </aside> -->

    </div>

  {% endblock %}